{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Senha</title>
</head>
<body>
    <div class="container_login">
        <img src="{% static 'archives/Adalgamir.gif' %}" alt="" class="adalgas">
        <form action="{% url 'change_pass' %}" method="post">
            {% csrf_token %}
            
            <label for="password">Nova senha</label>
            <input type="password" name="password" id="password" maxlength="20" placeholder="Digite sua senha">
            <label for="password_">Repita a senha</label>
            <input type="password" name="password_" id="password_" maxlength="20" placeholder="Digite sua senha novamente">
            <input type="hidden" name="email" id="email" value="{{email}}">
            <button onclick="check_password()" type="button" id="button">Trocar senha</button>
            <input type="submit" name="submit" id="submit" value="Trocar senha" style="display: none;">
        </form>
    </div>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>