{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a senha?</title>
</head>
<body>
    <div class="container_login">
        <form method="post" action="{% url 'change_password' %}" >
            {% csrf_token %}
            <input type="email" name="email" id="email" placeholder="Digite seu Email">
            <input type="submit" name="submit" id="submit" value="Recuperar senha">
        </form>
        <p style="color: #6a40da;">{{response}}</p>
    </div>
</body>
</html>